{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}

  <h1>
    {{ .Title }}

    {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
    {{- with .OutputFormats.Get "rss" }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
    {{- end }}

  </h1>

  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}

</header>
{{- end }}


{{- if .Content }}
<div class="post-content md-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
  {{- else }}
    {{ .Content }}
  {{- end }}
</div>
{{- end }}


{{- $pages := .RegularPagesRecursive }}

{{- if .IsHome }}
  {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- end }}


{{- $paginator := .Paginate $pages }}


{{- range $paginator.Pages }}

{{- $page := . }}

<article class="post-entry video-entry">

  {{/* 左侧封面 */}}
  {{- with $page.Params.cover.image }}

    {{- with $page.Resources.Get . }}

    <div class="video-entry-cover">
      <img loading="lazy"
           src="{{ .RelPermalink }}"
           alt="{{ $page.Title }}">
    </div>

    {{- end }}

  {{- end }}


  {{/* 右侧内容 */}}
  <div class="video-entry-content">

    <header class="entry-header">
      <h2 class="entry-hint-parent">
        {{ $page.Title }}

        {{- if $page.Draft }}
        <span class="entry-hint" title="Draft">
          Draft
        </span>
        {{- end }}

      </h2>
    </header>


    {{- if (ne ($page.Param "hideSummary") true) }}

    <div class="entry-content">
      <p>
        {{ $page.Summary | plainify | htmlUnescape }}
        {{ if $page.Truncated }}...{{ end }}
      </p>
    </div>

    {{- end }}


    {{- if not ($page.Param "hideMeta") }}

    <footer class="entry-footer">
      {{ partial "post_meta.html" $page }}
    </footer>

    {{- end }}

  </div>


  <a class="entry-link"
     aria-label="post link to {{ $page.Title | plainify }}"
     href="{{ $page.Permalink }}">
  </a>


</article>

{{- end }}



{{- if gt $paginator.TotalPages 1 }}

<footer class="page-footer">
  <nav class="pagination">

    {{- if $paginator.HasPrev }}
    <a class="prev"
       href="{{ $paginator.Prev.URL | absURL }}">
      «&nbsp;{{ i18n "prev_page" }}&nbsp;
    </a>
    {{- end }}


    {{- if $paginator.HasNext }}
    <a class="next"
       href="{{ $paginator.Next.URL | absURL }}">
      {{ i18n "next_page" }}&nbsp;»
    </a>
    {{- end }}

  </nav>
</footer>

{{- end }}


{{- end }}

{{- end }}